/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
 h1 h2 h3 h4 p{
 	font-family: Ubuntu;
 	color:#424242;
 }

.banner-text{
  padding-top: -100px;
}

.parallax-container{
  height: 440px;
}

.banner-image {
 background-image: linear-gradient(-225deg, rgba(0,0,0,0.35) 0%,
   rgba(0,0,0,0.35) 50%), image-url('banner1.jpg');
 z-index: -20;
 -moz-background-size: 100% 100%;
 -webkit-background-size: 100% 100%;
 -o-background-size: 100% 100%;
 // max-width: 100%;
 // height: auto;
 background-size: cover !important;
 // background-repeat: no-repeat;
 padding-top: 100px;
 text-align: center;
 justify-content: center;
 align-items: center;
 opacity: .9;
 color: white;
}
li.project-image {
 background-image: linear-gradient(-225deg, rgba(0,0,0,0.35) 0%,
   rgba(0,0,0,0.35) 50%), image-url('project.jpg');
 width: 100%;
 height: auto;
 background-size: cover !important;
 background-attachment: fixed;
 background-repeat: no-repeat;
 display: flex;
 text-align: center;
 justify-content: center;
 align-items: center;
 color: white;
}
li.project2-image {
 background-image: linear-gradient(-225deg, rgba(0,0,0,0.35) 0%,
   rgba(0,0,0,0.35) 50%), image-url('project2.jpg');
 max-width: 100%;
 height: auto;
 opacity: 0.5;
 background-size: cover !important;
 background-attachment: fixed;
 background-repeat: no-repeat;
 display: flex;
 text-align: center;
 justify-content: center;
 align-items: center;
 color: white;
}
li.project3-image {
 background-image: linear-gradient(-225deg, rgba(0,0,0,0.35) 0%,
   rgba(0,0,0,0.35) 50%), image-url('project3.jpg');
 max-width: 100%;
 height: auto;
 opacity: 0.5;
 background-size: cover !important;
 background-attachment: fixed;
 background-repeat: no-repeat;
 display: flex;
 text-align: center;
 justify-content: center;
 align-items: center;
 color: white;
}
.team-image {
 background-image: linear-gradient(-225deg, rgba(0,0,0,0.35) 0%,
   rgba(0,0,0,0.35) 50%), image-url('team.jpeg');
 max-width: 100%;
 height: 100vh;
 opacity: 0.5;
 background-size: cover !important;
 background-attachment: fixed;
 background-repeat: no-repeat;
 display: flex;
 text-align: center;
 justify-content: center;
 align-items: center;
 color: white;
}
.map-image {
 background-image: image-url('map.jpg');
 max-width: 100%;
 height: auto;
 opacity: 0.5;
 background-size: cover !important;
 background-attachment: fixed;
 background-repeat: no-repeat;
 display: flex;
 text-align: center;
 justify-content: center;
 align-items: center;
 color: white;
}
p.main{
  text-align: justify;
}
.p-main{
  text-align: left;
  padding-left: 20px;
}
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 10;
}
.p-contact-main{
  padding-top: 50px;
}
#return-to-top i {
    color: white;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: red;
}
#return-to-top:hover i {
    color: white;
    top: 5px;
}

.material-icons.red600{
color:#b71c1c;
}
