// Your footer style
a{
  text-decoration: none;
  color:inherit;
}


footer.page-footer {
    margin-top: 0px;
    padding-top: 0px;
}

.links{
margin-left:5px; 
margin-right:5px;
margin-top:5px;
}

footer.page-footer .footer-copyright{
height: 70px;
line-height: 70px;
}
