.brand-logo.red600{
  color: #BF4040;
  margin-left: 15px;
}
nav{
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.color-red{
color:#BF4040;
}