.l-card{
  // margin-top: 10px;
  // margin-right: -24px;
}
.c-card{
  // padding-bottom: 10px;
  // margin-right: -24px;
  position:relative;
  z-index: 20;
}
.r-card{
  // margin-top: 10px;
}
.l-card-image{
  max-width: 100%;
}
.color-card{
  background-color: #F2F2F2;
}
