// Graphical variables
@import "config/variables";

// External libraries
@import "materialize";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "layout/_navbar";
@import "layout/footer";
@import "pages/index";
@import "vendor/index";
@import "components/icons";
@import "contacts";

html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}
