<div class="section white">
  <div class="row container">
    <h5>
      <p class="grey-text text-darken-3 lighten-3">We are stuck with technology when what we really want is just stuff that works.
      </p>
    </h5>
    <h6>– Douglas Adams</h6>
  </div>
</div>
<div id="about" class="parallax-container team-image">
  <div class="parallax">
    <div class="row center">
        <h1>Our Team</h1>
      <div class="row center">
        <h4>Increase your visibility thanks to a proper web platform.</h4>
      </div>
    </div>
    <div class="container">
      <div class="row center">
        <div class="col s4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="#">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">About Ryan Jeff<i class="material-icons right">more_vert</i></span>
              <p>Expertise</p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Expertise / Quote<i class="material-icons right">close</i></span>
              <p style="color:blue;">About me</p>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="#">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">About Michael<i class="material-icons right">more_vert</i></span>
              <p>Expertise</p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Expertise / Quote<i class="material-icons right">close</i></span>
              <p style="color:blue;">About me</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
