<div class="section white">
  <hr></hr>
  <div class="row container">
    <h5>
      <p class="grey-text text-darken-3 lighten-3">We are stuck with technology when what we really want is just stuff that works.
      </p>
    </h5>
    <h6>– Douglas Adams</h6>
  </div>
</div>
<div id="about" class="parallax-container team-image">
  <div class="parallax">
    <div class="row center">
      <h1>Our Team</h1>
      <br>
    </div>
    <div class="row">
      <div class="col s12 m4 offset-m2 ">
        <div class="card small">
          <div class="card-image waves-effect waves-block waves-light center-align">
            <%= image_tag("rjay.jpg", class:"activator responsive-img")  %>
          </div>
          <div class="card-content grey-text text-darken-3 center-align">
            <span class="card-title activator grey-text text-darken-4">About Ryan Jeff<i class="material-icons right">more_vert</i></span>
            <p>Entrepreneur</p>
            <p>Professor</p>
            <p>FullStack Web developer</p>

          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4 center-align">"Leadership is the capacity to translate vision into reality."
              <p class="quote">Warren Bennis</p><i class="material-icons right">close</i></span>
              <p style="color:grey;" class= "rjay">
               I've started my career at the young age of 19 in Information Technology as system engineer working for a  telecommunication company.
             </p>
             <p style="color:grey;">
              After two years I had the chance to work for two major world wide companies, IBM and HP. I worked as Assistant Manager to a Project Lead of Data Center.
              I work there for about 2 years and decided it was time to change.  I resigned and build my own software development company with a focus in accounting system, and Online travel agency.
            </p>
            <p style="color:grey;">
             and Now I'm currently focusing on Software Web development and teaching as a professor in Graduate School University.
             <br>
             Thanks to my multiple degrees from bachelor in computer engineering to master degree in business administration and ICT Management & IT Governance, I have build up the necessary experience to face those kind of challenges now a days.
           </p>
           <p style="color:grey;">
            I'm confident that if you managed to do a little thing well, you can do a bigger thing well too.
          </p>
        </p>
      </div>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="card small">
      <div class="card-image waves-effect waves-block waves-light center-align">
        <%= image_tag("mike.jpg", class:"activator responsive-img")  %>
      </div>
      <div class="card-content grey-text text-darken-3 center-align ">
        <span class="card-title activator grey-text text-darken-4">About Michael<i class="material-icons right">more_vert</i></span>
        <p>Entrepreneur</p>
        <p>FullStack Web developer </p>
      </div>
      <div class="card-reveal center-align">
        <span class="card-title grey-text text-darken-4 center-align">“Whether you think you can or think you can’t, you’re right.”
        <br>
          <p class="quote">Henry Ford</p><i class="material-icons right">close</i></span>
          <br>
          <p style="color:grey" class="mike">
            Young entrepreneur I started my career at 25 years old.
            I deeply believe that the web has transformed our world and will keep on transforming it in the future in a way that we don’t even imagine.</p>
            <p style="color:grey">Therefore a few months ago I decided to learn how to code.
              I wanted to know, to understand what was behind the scene.
              After a lot of reading and an intensive training in the beautiful city of Amsterdam I’ve acquired the necessary skills to prototype any web platform.</p>
              <p style="color:grey">We think we can, contact us and we will show you.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
