<div class="section white">
  <div class="row container">
    <h5>
      <p class="grey-text text-darken-3 lighten-3">We are stuck with technology when what we really want is just stuff that works.
      </p>
    </h5>
    <h6>– Douglas Adams</h6>
  </div>
</div>
<div id="about" class="parallax-container team-image">
  <div class="parallax">
    <div class="row center">
        <h1>Our Team</h1>
      <div class="row center">
        <h4>Increase your visibility thanks to a proper web platform.</h4>
      </div>
    </div>
    <div class="container">
      <div class="row center-align">
        <div class="col s12 m4 offset-m1">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="#">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">About Ryan Jeff<i class="material-icons right">more_vert</i></span>
              <p>Expertise</p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Expertise / Quote<i class="material-icons right">close</i></span>
              <p style="color:blue;">About me</p>
            </div>
          </div>
        </div>
        <div class="col s12 m4 offset-m2">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="assets/images/mike.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">About Michael<i class="material-icons right">more_vert</i></span>
              <p>Expertise</p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Expertise / Quote<i class="material-icons right">close</i></span>
              <p style="color:blue;">Young entrepreneur I started my career at 25 years old.
I deeply believe than the web has transformed our world and will keep on transforming it in the future in a way that we don’t even imagine.
Therefore a few months ago I decided to learn how to code.
I wanted to know, to understand what was behind the scene.
After a lot of reading and an intensive training in the beautiful city of Amsterdam I’ve acquired the necessary skills to prototype any web platform.
 
“Whether you think you can or think you can’t, you’re right.” Henry Ford.
 
We think we can, contact us and we will show you.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
