<div class="parallax-container">
  <div class="row center black-text p-contact-main">
      <h3>“From an Idea to a Business there is only one step.”
      </h3>
      <br><br>
    <div class="row center">
      <button class="btn btn-large waves-effect waves-light blue accent-4" type="submit" name="action">GET IN TOUCH NOW
        <i class="material-icons right send">send</i>
      </button>
    </div>
  </div>
      <div class="parallax map-image">
      </div>
</div>
