<div id="home" class="parallax-container">
  <%= render partial: 'layouts/navbar' %>
  <div class="parallax banner-image">
    <div class="row p-main left">
      <h3>We DESIGN, DEVELOP,
        <br>
        and LAUNCH your ideas
      </h3>
      <div class="row center">
        <h6><p class="main">
          Netstarted helps entrepreneur to reach their dreams.
          <br>
          Create your own Tech Startup.
          <br>
          Innovate and sale online, E-commerce is the future.
          <br>
          Analyse your results and adapt your startegy, the science of Google Analytics.
          <br>
        </p>
      </h6>
    </div>
  </div>
</div>
</div>
