<div id="home" class="parallax-container">
  <%= render partial: 'layouts/navbar' %>
      <div class="parallax banner-image">
        <div class="row center">
            <h1>Join the web revolution</h1>
          <div class="row center">
            <h4>Your visibility in our responsibility</h4>
          </div>
        </div>
      </div>
</div>
