<div id="home" class="parallax-container">
  <%= render partial: 'layouts/navbar' %>
      <div class="parallax banner-image">
        <div class="row p-main left">
            <h3>We DESIGN, DEVELOP,
                <br>
                and LAUNCH your ideas
            </h3>
          <div class="row center">
            <h6><p class="main"> Choosing to work with startup it’s about from an idea, creating a product.
                <br>
                Most of the time the product is not there yet.
                <br>
                We start by designing together the platform, then we develop it,
                <br>
                and we launch on the market thanks to our online marketing tools.
              </p>
            </h6>
          </div>
        </div>
      </div>
</div>
