<section id="businessmodel">

	<h4 class="center">How we work</h4>
	<h5 class="center">Choose your formule</h5>
	<div class="container">
		<div class="row valign-wrapper">
			<div class="col s12 m5 center">
				<h5>Traditional way</h5>
				<%= image_tag "contract.gif", class: "s-card-image responsive-img" %>
				<h6>Contract</h6>
				<br>
				<%= image_tag "launch.gif", class: "s-card-image responsive-img" %>
				<br>
				<p>Platform</p>
				<br>
				<i class="large material-icons">payment</i>
				<p>Payment</p>
			</div>

			<div class="col s12 m2 center">
				<i class="large material-icons valign">compare_arrows</i>
			</div>

			<div class="col s12 m5 center">
				<h5>Startup way</h5>

				<%= image_tag "contract.gif", class: "s-card-image responsive-img" %>
				<h6>Contract</h6>
				<br>
				<%= image_tag "launch.gif", class: "s-card-image responsive-img" %>
				<br>
				<p>Platform</p>
				<br>
				<i class="large material-icons">payment</i>
				<p>Shares/% profit</p>
			</div>
		</div>
	</div>
</section>
