<div class="wrapper footer-copyright">
  <div class="row col l6 s12">
    <div class="col l6 s6">
      &copy <%= Time.now %> <b>Red IT Solutions</b> | Allrights reserved
    </div>
    <div class="col l6 s6">
      <ul>
        <li class="li-footer">FOLLOW US ON:</li>
        <li class="li-footer"><a href="#" target="_blank" class="grey-text text-lighten-3" href="#!"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
        <li class="li-footer"><a href="#" target="_blank" class="grey-text text-lighten-3" href="#!"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></li>
        <li class="li-footer"><a href="#" target="_blank" class="grey-text text-lighten-3" href="#!"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</div>
