<div class="footer-copyright">
  <div class="container">
    <%=link_to root_path  do%>
    &copy&nbsp<b >NetStarted</b> | Allrights reserved
    <% end %>

    <%= link_to "https://twitter.com/MikeNetStarted", class:"grey-text text-lighten-4 right links", target:"blank" do %>
    <i class="fa fa-twitter-square fa-2x hoverable" aria-hidden="true"></i>
    <% end %>

    <%= link_to "https://www.linkedin.com/groups/8574144", class:"grey-text text-lighten-4 right links", target:"blank" do %>
    <i class="fa fa-linkedin-square fa-2x hoverable" aria-hidden="true"></i>
    <% end %>

  </div>
</div>
