<div id="modal1" class="modal hoverable">
	<div class="modal-content">
		<h4>Design</h4>

		<p>The Design is an essential part of your website.</p>
		<p>At NetStarted we will invest time and effort to create the right design.</p>
		<p>More than the design the UX is capital.</p>
		<p>You only have one chance to make the right impression.</p>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	</div>
</div>

<div id="modal2" class="modal">
	<div class="modal-content">
		<h4>Modal Header</h4>
		<p>A bunch of text</p>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	</div>
</div>

<div id="modal3" class="modal">
	<div class="modal-content">
		<h4>Modal Header</h4>
		<p>A bunch of text</p>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	</div>
</div>