<nav>
  <div class="nav-wrapper red grey lighten-5">
    <a href="#!" class="brand-logo red-text text-darken-4">RED IT</a>
    <ul class="right hide-on-med-and-down">
      <li><a class="waves-effect waves-light btn home-button ">Home</a></li>
      <li><a href="#" class="red-text text-darken-4" >Services</a></li>
      <li><a href="#" class="red-text text-darken-4">Projects</a></li>
      <li><a href="#" class="red-text text-darken-4">About</a></li>
      <li><a href="#" class="red-text text-darken-4">Contact us</a></li>
    </ul>
  </div>
</nav>
