<div id="projects" class="slider">
  <ul class="slides">
    <li class="project-image">
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">About our Project Mike</h5>
      </div>
    </li>
    <li class="project2-image">
      <div class="caption left-align">
        <h3>Left This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">About our Project Mike</h5>
      </div>
    </li>
    <li class="project3-image">
      <div class="caption right-align">
        <h3>Right This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">About our Project Mike</h5>
      </div>
    </li>
  </ul>
</div>
