<div id="projects" class="parallax-container project-image">
      <div class="section no-pad-bot">
        <div class="wrapper">
            <h1 class="header-1">The visibility of our project</h1>
          <div class="row center">
            <h2 class="header-2">Increase your visibility thanks to a proper web platform.</h2>
          </div>
        </div>
      </div>
</div>
