<div id="projects" class="slider">
  <ul class="slides">
    <li class="project-image">
      <div class="caption center-align">
        <h3>Willing to innovate in the sport world?</h3>
        <h5 class="light grey-text text-lighten-3">About the Kids, the sport platform for the parents and their children.</h5>
      </div>
    </li>
    <li class="project2-image">
      <div class="caption left-align">
        <h3>We love travelling, what about you?</h3>
        <h5 class="light grey-text text-lighten-3">Rjay Travel, book in one click!</h5>
      </div>
    </li>
    <li class="project3-image">
      <div class="caption right-align">
        <h3>Buy online, secure and easy!</h3>
        <h5 class="light grey-text text-lighten-3">Kardoesiev, find your favorite shirt</h5>
      </div>
    </li>
    <li class="project4-image">
    <%=link_to "https://marjolijnbijman.herokuapp.com/", target:"blank" do %>
      <div class="caption center-align">
        <h3>Renovate your home</h3>
        <h5 class="light grey-text text-lighten-3">Marjolijn Bijman Interieur Architect</h5>
      </div>
    <% end %>
    </li>
  </ul>
</div>
