<div class="wrapper">
  <div id="services" class="row  white center scrollspy" >
    <div class="row">
      <div class="col s12"><h4 class="header">Our Expertise</h4></div>
      <div class="col s4"><i class="material-icons red600 md-48">desktop_mac</i>
        <br>
        <p align="justify">At Redit we work with the newest technologies to create web platforms which suit the needs of our customers. Ruby on rails, Javascript, React are a few of the languages that our developers master. All our projects start with a customer meeting to understand their business. We will then draw some mockups to have a good idea of how the platform will work and the different essential features needed to succeed: customer login, automate response, booking system, google map location etc…. RedIt is the perfect partner for all tech startup willing to penetrate the market has fast as possible. 
        </p>
      </div>
      <div class="col s4"><i class="material-icons red600 md-48">shopping_basket</i>
        <br>
        <p align="justify">At RedIt we believe in e-commerce.
          “The situation just over two years ago is a testament to the growth of online shopping. In 2014, more than $1 trillion worth of retail goods were purchased online worldwide, accounting for about 6 percent of all retail sales – a number that is only expected to grow in the coming years.”
          Thanks to our experience of the market we are able to help you to create your online platform and handle payment wherever your customers may be. Having an easy to use and reliable e-commerce platform will ensure your business to grow on an all different level.
        </p>
      </div>
      <div class="col s4"><i class="material-icons red600 md-48">loyalty</i>
        <br>
        <p align="justify">
          Knowing who are your customers is your job.
          <br>
          <br>
          Knowing how to reach them is ours. 
          <br>
          <br>
          RedIT provides you all the tools you need to target the right customer at the right moment. Thanks to a create SEO, we make sure that your website will always be on top, but much more than that. A good online marketing campaign allows you to be known worldwide. We will help you to use the biggest name of the industry to reach your objectives.
        </p>
      </div>
    </div>
  </div>
</div>
