<div class="wrapper">
  <div id="services" class="row  white center scrollspy" >
      <div class="row">
        <div class="col s12"><h4 class="header">Our Expertise</h4></div>
        <div class="col s3"><i class="material-icons md-48">code</i>
        <br>
        <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          In efficitur velit eu justo laoreet, ut pellentesque magna vulputate.
          Etiam ut lacinia ex. Maecenas dictum tellus nec nisi imperdiet dictum.
          Pellentesque varius odio nulla, ac scelerisque eros semper vitae.
        </p>
        </div>
        <div class="col s3"><i class="material-icons md-48">cloud_done</i>
        <br>
        <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          In efficitur velit eu justo laoreet, ut pellentesque magna vulputate.
          Etiam ut lacinia ex. Maecenas dictum tellus nec nisi imperdiet dictum.
          Pellentesque varius odio nulla, ac scelerisque eros semper vitae.
        </p>
        </div>
        <div class="col s3"><i class="material-icons md-48">insert_chart</i>
        <br>
        <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          In efficitur velit eu justo laoreet, ut pellentesque magna vulputate.
          Etiam ut lacinia ex. Maecenas dictum tellus nec nisi imperdiet dictum.
          Pellentesque varius odio nulla, ac scelerisque eros semper vitae.
        </p>
        </div>
        <div class="col s3"><i class="material-icons md-48">shopping_cart</i>
        <br>
        <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          In efficitur velit eu justo laoreet, ut pellentesque magna vulputate.
          Etiam ut lacinia ex. Maecenas dictum tellus nec nisi imperdiet dictum.
          Pellentesque varius odio nulla, ac scelerisque eros semper vitae.
        </p>
        </div>
      </div>
  </div>
</div>
